<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>

</head>
<body>
    <h1> Joan Clarke </h1>
    

    
    <img src="/img/joanClarke.jpg" alt="">

    <p>
        Joan Clarke nació el 24 de junio de 1917 en West Norwood, Inglaterra. Estudiante brillante,
         ganó una beca para estudiar matemáticas en el Newnham College de Cambridge, donde consiguió
          el  denominado Part I of the Mathematical Tripos (cursos de tres años que llevaban a conseguir
           una licenciatura) en 1936 acabando el trienio como una “Wrangler” (estudiante con honores). 
           Aunque se sacó el Part II en 1939 y el Part III en 1940, nunca le dieron la tan merecida 
           licenciatura en matemáticas debido a que la Universidad de Cambridge  no concedió 
           licenciaturas a mujeres hasta 1948.
    </p>
    
    
</body>
</html>